name: Build LaTeX documents

on:
  - push
  - workflow_dispatch

jobs:
  build_latex:
    runs-on: ubuntu-latest
    container:
      image: fedora:43

    steps:
      - uses: actions/checkout@v6

      - name: Install system dependencies
        run: ./setup_fedora.sh

      - name: Compile LaTeX documents
        run: make all

      - name: Upload PDF files
        if: ${{ !env.ACT }}
        uses: actions/upload-artifact@v6
        with:
          name: PDFs
          path: artifacts/*.pdf
